/***** Reg Window *****/

/* Applications */

.applications-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Application */

.application-container {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #4d006d;
  background-color: #ffffff;
}

.carousel-arrow:hover {
  scale: 1.1;
  transition: scale 0.20s;
}

/* Application Header */

/* .application-header {
} */

.application-header-title {
  font-weight: bold;
  color: #4d006d;
}

.application-header-link:link {
  color: #4d006d
}

.application-header-link:visited {
  color: #4d006d
}

.application-header-link:active {
  color: #BBA5D2
}

/* Demo */

.demo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-top: 10px;
}

.demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.demo-img {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.demo-caption,
.youtube-demo-caption {
  display: flex;
  justify-content: center;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  text-align: center;
  font-size: 16px;
}

.youtube {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .youtube-iframe {
} */

.youtube-demo-caption {
  margin-top: -28px;
}

.thumbs-wrapper.axis-vertical,
.carousel.thumbs-wrapper {
  height: 0px;
  margin: 0px;
}


/***** Small Window *****/

/* Applications */

.sw-applications-container {
  padding-left: 2px;
  padding-right: 2px;
}

/* Application */

.sw-application-container {
  margin-bottom: 30px;
}

.sw-demo-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

/* Demo */

.sw-youtube {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.sw-youtube-iframe {
  border-style: solid;
  border-width: 3px;
  border-color: #4d006d;
}

.sw-demo-container {
  display: flex;
  justify-content: center;
}

.sw-demo {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.sw-demo-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  border-style: solid;
  border-width: 3px;
  border-color: #4d006d;
}

.sw-demo-caption {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: center;
}
