/***** Web *****/

/* Applications */

.applications-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Application */

.app-container {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px;
  border-style: solid;
  border-color: #4d006d;
  border-width: 1px;
  border-radius: 10px;
  background-color: #ffffff;
}

.demo-carousel-container {
  /* display: flex;
  justify-content: space-between; */
}

.web-demo-container {
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 15px; */
}

.mobile-demo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  margin-top: 15px;
}

/* Carousel */

.carousel.carousel-slider {
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-top: auto;
  margin-bottom: auto; */
}

.thumbs-wrapper.axis-vertical {
  height: 0px;
  margin-top: -10px;
}

.carousel-arrows-container {
  display: flex;
  justify-content: space-between;
  /* margin-top: -85px; */
  z-index: 9997;
}

.carousel-arrow:hover {
  scale: 1.1;
  transition: scale 0.20s;
}


/* Demo */

.youtube {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  scale: 0.95
  /* margin-bottom: 25px; */
}

.carousel.slide.iframe {

}

.youtube-iframe {
  /* border-style: solid;
  border-width: 3px;
  border-color: #4d006d; */
  /* outline: solid;
  outline-width: 2px;
  outline-color: #4d006d;
  outline-offset: -1px; */
}

.demo-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  /* position: relative; */
  /* margin-top: 20px; */
  /* margin-bottom: 25px; */
}

.demo {
  /* position: absolute;
  top: 50%; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.demo-img {
  /* display: block; */
  /* height: auto; */
  /* background-color: #4d006d; */
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  /* border-style: solid;
  border-width: 1px;
  border-color: #4d006d;
  box-sizing: border-box; */
  /* outline: solid;
  outline-width: 2px;
  outline-color: #4d006d;
  outline-offset: -1px; */
}

.demo-caption,
.demo-caption-yt {
  height: 20px;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  text-align: center;
}

.demo-caption-yt {
  margin-top: -28px;
}


/***** Mobile *****/

/* Applications */

.sw-applications-container {
  padding-left: 2px;
  padding-right: 2px;
}

/* Application */

.sw-app-container {
  margin-bottom: 30px;
}

.sw-demo-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

/* Demo */

.sw-youtube {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.sw-youtube-iframe {
  border-style: solid;
  border-width: 3px;
  border-color: #4d006d;
}

.sw-demo-container {
  display: flex;
  justify-content: center;
}

.sw-demo {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.sw-demo-img {
  border-style: solid;
  border-width: 3px;
  border-color: #4d006d;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
}

.sw-demo-caption {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  margin-bottom: 7px;
}
