/***** Reg Window *****/

/* Applications */

.applications-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Application */

.application-container {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #4d006d;
  background-color: #ffffff;
}

.carousel-arrow:hover {
  scale: 1.1;
  transition: scale 0.20s;
}

/* Application Header */

/* .application-header {
} */

.application-header-title {
  font-weight: bold;
  color: #4d006d;
}

.application-header-link:link {
  color: #4d006d
}

.application-header-link:visited {
  color: #4d006d
}

.application-header-link:active {
  color: #BBA5D2
}

/* Demo */

.demo-container,
.demo-container-inactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1.0;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  overflow: hidden;
  transition: opacity 0.75s;
}

.demo-container-inactive {
  opacity: 0.0;
}

.demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  pointer-events: none;
  padding-left: 100px;
  padding-right: 100px;
}

.demo-media {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  border-style: solid;
  border-width: 1px;
  border-color: #4d006d;
}

.demo-media-modal {
  width: 100%;
  height: 100%;
}

.demo-caption,
.youtube-demo-caption {
  display: flex;
  justify-content: center;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  text-align: center;
  font-size: 16px;
}

.youtube {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.youtube-iframe {
  width: 100%;
  height: 100%;
}

.youtube-iframe-modal {
  width: 100%;
  height: 100%;
}

.ReactModal__Content.ReactModal__Content--after-open::-webkit-scrollbar {
  display: none;
}

/* .youtube-iframe-modal::-webkit-scrollbar {
  display: none;
} */

.youtube-demo-caption {
  margin-top: -28px;
}

.thumbs-wrapper.axis-vertical,
.carousel.thumbs-wrapper {
  height: 0px;
  margin: 0px;
}


/***** Small Window *****/

/* Applications */

.sw-applications-container {
  padding-left: 2px;
  padding-right: 2px;
}

/* Application */

.sw-application-container {
  margin-bottom: 30px;
}

.sw-demo-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

/* Demo */

.sw-youtube {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.sw-youtube-iframe {
  border-style: solid;
  border-width: 3px;
  border-color: #4d006d;
}

.sw-demo-container {
  display: flex;
  justify-content: center;
}

.sw-demo {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.sw-demo-media {
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  border-style: solid;
  border-width: 3px;
  border-color: #4d006d;
}

.sw-demo-caption {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: center;
}
