html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  height: 100%;
}

#app {
  width: 92%;
  height: 100%;
}

.title_main {
  display: flex;
  justify-content: center;
  font-size: 65px;
  font-weight: bold;
  padding-top: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #3A2E47;
}

.subtitle_main {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #3A2E47;
}
