/* General */

#root {
  display: flex;
  justify-content: center;
  right: 0px;
  left: 0px;
}

#app {
  width: 92%;
}

/* body {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
} */


