/***** General *****/

html, body {
  min-height: 100%;
  margin: 0;
  background-color: #f1cfff;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

.route-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#app,
#sw-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main-title,
.main-subtitle,
.sw-main-title,
.sw-main-subtitle {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #4d006d;
}


/***** Reg Window *****/

#app {
  max-width: 1170px;
}

.main-title {
  padding-top: 10px;
  font-size: 40px;
  font-weight: 700;
}

.main-subtitle {
  font-size: 20px;
  font-weight: 400;
}


/***** Small Window *****/

#sw-app {
  max-width: 790px;
}

.sw-main-title {
  padding-top: 8px;
  font-size: 32px;
  font-weight: 700;
}

.sw-main-subtitle {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 400;
}

.sw-title-ul {
  width: 100%;
  height: 1px;
  background-color: #4d006d;
}

.sw-route-container {
  max-width: 100%;
  margin-left: 8px;
  margin-right: 8px;
}
