/***** Reg Window *****/

.education-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
}

.edu-container {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px;
  border-style: solid;
  border-color: #4d006d;
  border-width: 1px;
  border-radius: 10px;
  background-color: #ffffff;
}


/***** Small Window *****/

.sw-education-container {

}

.sw-edu-container {

}
