/***** Web *****/

.w_education_container {
  /* flex-grow: 1; */
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
}

.w_edu_container {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px;
  border-style: solid;
  border-color: #4d006d;
  border-width: 1px;
  border-radius: 10px;
  background-color: #ffffff;
}


/***** Mobile *****/

.m_education_container {

}

.m_edu_container {

}
