/***** Web *****/

.w_education_container {
  font-size: 22px;
  margin-top: 50px;
}

.w_edu_container {
  margin-bottom: 75px;
}


/***** Mobile *****/

.m_education_container {

}

.m_edu_container {

}
