/***** NavBar *****/

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 3;
  top: 0;
  padding-top: 10px;
  background-color: #f1cfff;
}

.header-underline {
  z-index: 4;
  width: 99%;
  height: 2px;
  background: rgb(77,0,109);
  background: radial-gradient(circle, rgba(77,0,109,1) 0%, rgba(77,0,109,1) 80%, rgba(241,207,255,1) 100%);
}

.nav-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-tab, .nav-tab-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 32px;
  padding: 0 1rem;
  border-style: solid;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-color: #4d006d;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  transition: font-size 0.20s;
}

.nav-tab {
  background: #9a7ba7;
}

.nav-tab-active {
  background: #965eae;
  font-size: 18.5px;
  font-weight: 400;
  transition: font-size 0.20s;
}

.nav-tab:hover {
  font-size: 18.5px;
  transition: font-size 0.20s;
}

.nav-text {
  position: absolute;
}


/***** Dropdown *****/

.dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  margin-bottom: 10px;
  z-index: 1;
  background-color: #3A2E47;
}

.dd-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  box-sizing: border-box;
  border: none;
  border-style: solid;
  border-radius: 20px;
  border-width: 15px;
  border-color: #3A2E47;
  background: none;
  background-color: #ffffff;
  font-size: 20px;
  color: #3A2E47;
}

.dd-open {
  display: flex;
  flex-direction: column;
}

.dd-closed {
  display: none;
}

.dd-page {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 7px;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}
