/***** Web *****/

/* Bullets */

.w_bullet_container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  /* margin-bottom: 50px; */
  margin-left: 20px;
}

.w_bullet {
  display: flex;
  flex-direction: row;
}

.w_bullet_text {
  margin-left: 9px;
  margin-top: -3px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.5;
}

/* Header */

.w_header_container {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  /* margin-left: 5px;
  margin-right: 5px; */
}

.w_header_title {
  color: #4d006d;
  font-weight: bold;
}

.w_link:link {
  color: #4d006d
}

.w_link:visited {
  color: #4d006d
}

.w_link:active {
  color: #BBA5D2
}

.w_year {
  margin-left: auto;
  font-weight: bold;
}

/* SubHeader */

.w_subheader_container {
  display: flex;
  margin-top: 4px;
  font-size: 15px;
  font-style: italic;
  color: #9E9BA0;
  /* margin-left: 5px;
  margin-right: 5px; */
}

.w_sublink:link {
  color: #9E9BA0
}

.w_sublink:visited {
  color: #9E9BA0
}

.w_sublink:active {
  color: #BBA5D2
}


/* Icons */

.w_icon_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 8px;
}

.w_icon_open {
  text-decoration: underline;
  cursor: pointer;
}

.w_icon_open:link {
  color: #4d006d;
}

.w_icon_open:visited {
  color: #4d006d;
}

.w_icon_open:active {
  color: #BBA5D2;
}

.w_modal_close {
  float: right;
  cursor: pointer;
  color: #4d006d;
}

.w_modal_close:active {
  color: #BBA5D2;
}

.w_modal_title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #4d006d;
}

.w_modal_icon_link {
  display: flex;
  justify-content: center;
}

.w_modal_link:link {
  color: #4d006d;
}

.w_modal_link:visited {
  color: #4d006d;
}

.w_modal_link:active {
  color: #BBA5D2;
}

.w_icon_disclaimer {
  display: flex;
  justify-content: center;
  font-size: 14px;;
}


/***** Mobile *****/

/* Bullets */

.m_bullet_container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.m_bullet {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.m_bullet_text {
  margin-left: 5px;
  margin-top: -3px;
  margin-bottom: 0px;
  line-height: 1.5;
}

/* Header */

.m_header_container {
  font-size: 14.5px;
}

.m_description {
  margin-top: 5px;
  margin-bottom: 3px;
}

.m_header_title {
  color: #4d006d;
  font-size: 20px;
  font-weight: bold;
}

.m_link:link, .m_link:visited {
  color: #4d006d
}

.m_link:active {
  color: #BBA5D2
}

/* SubHeader */

.m_subheader_container {
  display: flex;
  flex-direction: column;
  font-size: 14.5px;
  font-style: italic;
  color: #9E9BA0;
}

.m_sublink:link, .m_sublink:visited {
  color: #9E9BA0
}

.m_sublink:active {
  font-size: 14px;
  color: #BBA5D2
}

/* Icons */

.m_icon_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 8px;
}

.m_icon_open {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
