.modal_close {
  float: right;
  cursor: pointer;
  color: #3A2E47;
}

.modal_close:active {
  color: #BBA5D2;
}

.modal_title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #3A2E47;
}

.modal_icon_link {
  display: flex;
  justify-content: center;
}

.modal_link:link {
  color: #3A2E47;
}

.modal_link:visited {
  color: #3A2E47;
}

.modal_link:active {
  color: #BBA5D2;
}

.modal_icon_disclaimer {
  display: flex;
  justify-content: center;
  font-size: 14px;;
}
