/***** Web *****/

/* Bullets */

.w_bullet_container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.w_bullet {
  display: flex;
  flex-direction: row;
}

.w_bullet_text {
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 21px;
  line-height: 1.5;
}

/* Header */

.w_header_container {
  font-size: 22px;
  display: flex;
  flex-direction: row;
}

.w_header_title {
  color: #3A2E47;
  font-weight: bold;
}

.w_link:link {
  color: #3A2E47
}

.w_link:visited {
  color: #3A2E47
}

.w_link:active {
  color: #BBA5D2
}

.w_year {
  margin-left: auto;
  font-weight: bold;
}

/* Icons */

.w_icon_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 8px;
}

.w_icon_open {
  text-decoration: underline;
  cursor: pointer;
}

.w_icon_open:link {
  color: #3A2E47;
}

.w_icon_open:visited {
  color: #3A2E47;
}

.w_icon_open:active {
  color: #BBA5D2;
}

.w_modal_close {
  float: right;
  cursor: pointer;
  color: #3A2E47;
}

.w_modal_close:active {
  color: #BBA5D2;
}

.w_modal_title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #3A2E47;
}

.w_modal_icon_link {
  display: flex;
  justify-content: center;
}

.w_modal_link:link {
  color: #3A2E47;
}

.w_modal_link:visited {
  color: #3A2E47;
}

.w_modal_link:active {
  color: #BBA5D2;
}

.w_icon_disclaimer {
  display: flex;
  justify-content: center;
  font-size: 14px;;
}

/* SubHeader */

.w_subheader_container {
  margin-top: 4px;
  font-size: 20px;
  font-style: italic;
  color: #9E9BA0;
}

.w_sublink:link {
  color: #9E9BA0
}

.w_sublink:visited {
  color: #9E9BA0
}

.w_sublink:active {
  color: #BBA5D2
}


/***** Mobile *****/

/* Bullets */

.m_bullet_container {

}

.m_bullet {

}

.m_bullet_text {

}

/* Header */

.m_header_container {

}

.m_header_title {

}

.m_link:link {

}

.m_link:visited {

}

.m_link:active {

}

.m_year {

}

/* Icons */

.m_icon_container {

}

.m_icon_open {

}

.m_icon_open:link {

}

.m_icon_open:visited {

}

.m_icon_open:active {

}

.m_modal_close {

}

.m_modal_close:active {

}

.m_modal_title {

}

.m_modal_icon_link {

}

.m_modal_link:link {

}

.m_modal_link:visited {

}

.m_modal_link:active {

}

.m_icon_disclaimer {

}

/* SubHeader */

.m_subheader_container {

}

.m_sublink:link {

}

.m_sublink:visited {

}

.m_sublink:active {

}
