/***** Reg Window *****/

/* Bullets */

.bullet-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 5px;
}

.bullet {
  display: flex;
  flex-direction: row;
}

.bullet-text {
  margin-left: 9px;
  margin-top: -3px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.5;
}

/* Header */

.header-container {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.header-title {
  font-weight: bold;
  color: #4d006d;
}

.header-link:link {
  color: #4d006d
}

.header-link:visited {
  color: #4d006d
}

.header-link:active {
  color: #BBA5D2
}

.year {
  margin-left: auto;
  font-weight: bold;
}

/* SubHeader */

.subheader-container {
  display: flex;
  margin-top: 4px;
  font-size: 15px;
  font-style: italic;
  color: #9E9BA0;
}

.subheader-link:link {
  color: #9E9BA0
}

.subheader-link:visited {
  color: #9E9BA0
}

.subheader-link:active {
  color: #BBA5D2
}


/* Icons */

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 8px;
  font-size: 14px;
}

.icon-open {
  text-decoration: underline;
  cursor: pointer;
}

.icon-open:link {
  color: #4d006d;
}

.icon-open:visited {
  color: #4d006d;
}

.icon-open:active {
  color: #BBA5D2;
}

.modal-close {
  float: right;
  color: #4d006d;
  cursor: pointer;
}

.modal-close:active {
  color: #BBA5D2;
}

.modal-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #4d006d;
}

.modal-icon-link {
  display: flex;
  justify-content: center;
}

.modal-link:link {
  color: #4d006d;
}

.modal-link:visited {
  color: #4d006d;
}

.modal-link:active {
  color: #BBA5D2;
}

.icon-disclaimer {
  display: flex;
  justify-content: center;
  font-size: 14px;
}


/***** Small Window *****/

/* Bullets */

.sw-bullet-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sw-bullet {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.sw-bullet-text {
  margin-left: 5px;
  margin-top: -3px;
  margin-bottom: 0px;
  line-height: 1.5;
}

/* Header */

.sw-header-container {
  font-size: 14.5px;
}

.sw-description {
  margin-top: 5px;
  margin-bottom: 3px;
}

.sw-header-title {
  font-size: 20px;
  font-weight: bold;
  color: #4d006d;
}

.sw-header-link:link,
.sw-header-link:visited {
  color: #4d006d
}

.sw-header-link:active {
  color: #BBA5D2
}

/* SubHeader */

.sw-subheader-container {
  display: flex;
  flex-direction: column;
  font-size: 14.5px;
  font-style: italic;
  color: #9E9BA0;
}

.sw-sublink:link,
.sw-sublink:visited {
  color: #9E9BA0
}

.sw-sublink:active {
  font-size: 14px;
  color: #BBA5D2
}

/* Icons */

.sw-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 8px;
}

.sw-icon-open {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}