/***** Reg Window *****/

/* About */

/* .about-container {
} */

.about-body-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin-top: 20px;
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #4d006d;
}

.about-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border-style: solid;
  border-width: 1px;
  border-color: #4d006d;
}

.about-text-container {
  max-width: 700px;
  margin-left: 20px;
}

.about-text {
  font-size: 16px;
}

.about-body-ul {
  width: 100%;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(77,0,109);
  background: radial-gradient(
    circle,
    rgba(77,0,109,1) 0%,
    rgba(77,0,109,1) 80%,
    rgba(255,255,255,1) 100%
  );
}

/* Contacts */

.contacts-container {
  display: flex;
  justify-content: space-evenly;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 16px;
}

.contact-container {
  display: flex;
  align-items: center;
}

.contact-container:link {
  color: #4d006d;
}

.contact-container:visited {
  color: #4d006d;
}

.contact-container:active {
  color: #BBA5D2;
}

.contact-link {
  display: flex;
  align-items: center;
  margin-left: 10px;
  text-decoration: underline;
}


/***** Small Window *****/

/* About */

/* .sw-about-container {
} */

.sw-about-body-container {
  padding-left: 2px;
  padding-right: 2px;
}

.sw-about-body {
  display: flex;
  flex-direction: column;
}

.sw-profile-pic {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 3px;
  border-color: #4d006d;
}

.sw-about-text-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.sw-about-text {
  line-height: 1;
}

.sw-about-body-ul {
  width: 101%;
  margin-left: -2px;
  margin-top: -6px;
  margin-bottom: 7px;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #4d006d;
}

/* Contacts */

.sw-contacts-container {
  display: flex;
  flex-direction: column;
  margin-top: -6px;
}

.sw-contact {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 14px;
}

.sw-contact-container {
  display: flex;
  align-items: center;
}

.sw-contact-container:link {
  color: #4d006d;
}

.sw-contact-container:visited {
  color: #4d006d;
}

.sw-contact-container:active {
  color: #BBA5D2;
}

.sw-contact-link {
  display: flex;
  align-items: center;
  margin-left: 20px;
  text-decoration: underline;
}
