/***** About *****/

/* Shared */

.about-body-container,
.sw-about-body-container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #4d006d;
}

.about-body,
.sw-about-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic,
.sw-profile-pic {
  border-style: solid;
  border-width: 1px;
  border-color: #4d006d;
}

.about-body-ul,
.sw-about-body-ul {
  width: 100%;
  height: 2px;
  background: rgb(77,0,109);
  background: radial-gradient(
    circle,
    rgba(77,0,109,1) 0%,
    rgba(77,0,109,1) 80%,
    rgba(255,255,255,1) 100%
  );
}

/* Reg Window */

.about-body-container {
  margin-top: 20px;
}

.about-body {
  flex-direction: row;
}

.about-text-container {
  max-width: 700px;
  margin-left: 20px;
}

.about-text {
  font-size: 16px;
}

.about-body-ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Small Window */

.sw-about-container {
  margin-top: 8px;
}

.sw-about-body-container {
  margin-bottom: 8px;
}

.sw-about-body {
  flex-direction: column;
}

.sw-profile-pic {
  margin-left: auto;
  margin-right: auto;
}

.sw-about-text-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.sw-about-text {
  font-size: 14px;
}


/***** Contacts *****/

/* Shared */

.contact-container,
.sw-contact-container {
  display: flex;
  align-items: center;
}

.contact-container:link,
.sw-contact-container:link {
  color: #4d006d;
}

.contact-container:visited,
.sw-contact-container:visited {
  color: #4d006d;
}

.contact-container:active,
.sw-contact-container:active {
  color: #BBA5D2;
}

.contact-link,
.sw-contact-link {
  display: flex;
  align-items: center;
  text-decoration: underline;
}

/* Reg Window */

.contacts-container {
  display: flex;
  justify-content: space-evenly;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 16px;
}

.contact-link {
  margin-left: 10px;
}

/* Small Window */

.sw-contacts-container {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.sw-contact {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 14px;
}

.sw-contact-link {
  margin-left: 20px;
}
