.about_body_container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.about_body {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1100px;
}

.profile_pic {
  border-style: solid;
  border-width: 3px;
  border-color: #3A2E47;
}

.about_text_container {
  max-width: 700px;
  margin-left: 50px;
}

.about_text {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 0px;
  margin-bottom: 30px;
}

.about_text_bottom {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 0px;
  margin-bottom: 0px;
}

.about_container_underline {
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #3A2E47;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contacts_container {
  display: flex;
  justify-content: space-evenly;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  align-items: center;
}

.contact_link {
  display: flex;
  align-items: center;
  margin-left: 20px;
  text-decoration: underline;
}

.contact_link:link {
  color: #3A2E47;
}

.contact_link:visited {
  color: #3A2E47;
}

.contact_link:active {
  color: #BBA5D2;
}

.icon_container {
  display: flex;
  justify-content: center;
  height: auto;
}

.icon_open {
  bottom: 8px;
  position: absolute;
  text-decoration: underline;
  cursor: pointer;
}

.icon_open:link {
  color: #3A2E47;
}

.icon_open:visited {
  color: #3A2E47;
}

.icon_open:active {
  color: #BBA5D2;
}
