/***** Web *****/

.skills-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  /* height: 80%; */
}

.categories-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  /* margin-left: 5px; */
}

.category-container {
  /* width: 170px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: #4d006d;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 8px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}
 
.category-name {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
  color: #4d006d;
}

.skills {
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
  /* margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px; */
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  margin-top: 4px;
  /* margin-left: 8px;
  margin-right: 8px; */
}

.skill-text {
  font-size: 14px;
  /* margin-top: 4px; */
  margin-right: 5px;
}

.skill-img-container {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/***** Mobile *****/

.sw-skills-container {
  display: flex;
  flex-direction: column;
}

.sw-categories-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 20px;
}

.sw-category-container {
  display: flex;
  flex-direction: column;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: #4d006d;
  margin-bottom: 10px;
}

.sw-category-name {
  margin-left: auto;
  margin-right: auto;
  color: #4d006d;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.sw-skill {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sw-skill-text {
  margin-top: 5px;
  margin-right: 15px;
}
