/***** Reg Window *****/

/* Skills */

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.categories-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

/* Category */

.category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.5px;
  margin-right: 2.5px;
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #4d006d;
  border-radius: 10px;
  background-color: #ffffff;
}
 
.category-name {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: bold;
  color: #4d006d;
}

.skills {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  pointer-events: none;
}

.skill-text {
  margin-right: 5px;
  font-size: 14px;
}

.skill-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}


/***** Small Window *****/

/* Skills */

.sw-skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 4px;
}

.sw-categories-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

/* Category */

.sw-category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4px;
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #4d006d;
  border-radius: 10px;
  background-color: #ffffff;
}

.sw-category-name {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #4d006d;
}

.sw-skills {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sw-skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sw-skill-text {
  margin-top: 5px;
  margin-right: 15px;
  font-size: 18px;
}
