/* NavBar */

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  position: sticky;
  top: 0;
  background-color: #f1cfff;
}

.nav-menu {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.nav-tab, .nav-tab-active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  padding: 0 1rem;
  width: 100px;
  height: 32px;
  border-style: solid;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-color: #4d006d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  transition: font-size 0.20s;
}

.nav-tab {
  color: #4d006d;
  background: #BBA5D2;
}

.nav-tab-active {
  color: #3A2E47;
  background: #ffffff;
  font-size: 18px;
  font-weight: 600;
  transition: font-size 0.20s;
}

.nav-tab:hover {
  font-size: 18px;
  transition: font-size 0.20s;
}

.nav-tab:active {
  font-weight: 600;
}

.nav-text {
  position: absolute;
}

.header-underline {
  height: 2px;
  background: rgb(77,0,109);
  background: radial-gradient(circle, rgba(77,0,109,1) 0%, rgba(241,207,255,1) 100%);
}
