.nav_container {
  position: -webkit-sticky;
  top: 0;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  padding-top: 15px;
}

.navlink:hover {
  font-size: 25px;
}

.navlink:active {
  color: #BBA5D2;
}

.nav_text {
  position: absolute;
}

.header_underline {
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #3A2E47;
  margin-top: 15px;
}
