/* NavBar */

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  position: sticky;
  top: 0;
  background-color: #f1cfff;
}

.nav-menu {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* width: 650px;
  height: 40px; */
  /* background: #3A2E47; */
  /* border-radius: 5px;
  border-style: solid;
  border-width: 10px;
  border-color: #3A2E47; */
}

.nav-tab, .nav-tab-active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  padding: 0 1rem;
  width: 110px;
  height: 30px;
  border-style: solid;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-color: #4d006d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.nav-tab {
  color: #ffffff;
}

.nav-tab-active {
  color: #3A2E47;
  background: #ffffff;
  /* border-radius: 5px; */
}

.nav-tab:hover {
  font-size: 25px;
}

.nav-tab:active {
  color: #BBA5D2;
}

.nav-text {
  position: absolute;
}

.header-underline {
  height: 2px;
  background: rgb(77,0,109);
  background: radial-gradient(circle, rgba(77,0,109,1) 0%, rgba(241,207,255,1) 100%);
}
